@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "fustra";
  src: url(../Fonts/Frastha-Bold.ttf);
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* ----------------- GENERAL STYLING --------------- */
html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  position: relative;
  margin: 0;
  padding: 0;
}

main{
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "fustra";
  font-weight: 700;
}

.large_accomplishment::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  pointer-events: none;
  background: radial-gradient(circle, rgba(42,211,168,0) 63%, rgba(0,0,0,1) 96%);
  width: 100%;
  height: 100%;
  @apply z-0 hidden dark:block
}

.navbar_sm {
  @apply lg:hidden w-3/4 sm:w-1/2 backdrop-blur bg-navbar h-screen 
  absolute inset-y-0 left-0 -z-10 translate-x-0 transition-transform duration-500 ease-in-out;
}

.navbar_lg {
  @apply lg:hidden w-3/4 sm:w-1/2 backdrop-blur bg-navbar h-screen absolute inset-y-0 left-0 z-40 -translate-x-full transition-transform duration-500 ease-in-out;
}